In [1]:
import pandas as pd
import requests

In [2]:
r = requests.get('https://www.fra.dot.gov/blockedcrossings/api/incidents', verify=False)

/Users/mathewkrump/.pyenv/versions/3.8.0/envs/train/lib/python3.8/site-packages/urllib3/connectionpool.py:997: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.fra.dot.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [3]:
data = pd.DataFrame(r.json())

In [4]:
data.head

<bound method NDFrame.head of      crossingID              reason          city state               street  \
0       174964H  A stationary train      WINFIELD    IL        WINFIELD ROAD
1       906295A  A stationary train  FORT COLLINS    CO       Lincoln Avenue
2       009352L  A stationary train          None    KS     E Lincoln Street
3       009352L  A stationary train          None    KS     E Lincoln Street
4       232191D  A stationary train       ROMULUS    MI            WICK ROAD
...         ...                 ...           ...   ...                  ...
1866    258115K  A stationary train     WOODHAVEN    MI             ALLEN RD
1867    258176B  A stationary train     FLAT ROCK    MI          VREELAND RD
1868    876006L  A stationary train    DES MOINES    IA       HUBBELL AVENUE
1869    140507F  A stationary train  GAITHERSBURG    MD  SOUTH SUMMIT AVENUE
1870    938325D  A stationary train    WASHINGTON    DC   PEDESTRIAN STATION

     railroad             dateTime       duration                  created
0          UP  2020-03-10T16:30:00  16-30 minutes  2020-03-10T12:46:07.697
1          UP  2020-03-10T16:00:00  31-60 minutes  2020-03-10T12:45:49.383
2          KO  2020-03-10T16:21:00  31-60 minutes   2020-03-10T12:43:25.86
3          KO  2020-03-10T16:28:00  31-60 minutes  2020-03-10T12:29:13.563
4         CSX  2020-03-10T16:00:00  16-30 minutes   2020-03-10T12:06:07.45
...       ...                  ...            ...                      ...
1866      GTW  2019-12-20T22:23:27  31-60 minutes  2019-12-20T17:23:33.357
1867      GTW  2019-12-20T22:22:53  16-30 minutes  2019-12-20T17:23:08.787
1868       UP  2019-12-20T19:05:00   0-15 minutes  2019-12-20T15:30:17.723
1869      CSX  2019-12-20T11:30:00   0-15 minutes   2019-12-20T12:25:13.83
1870      CSX  2019-12-20T17:00:00  31-60 minutes  2019-12-20T12:10:02.227

[1871 rows x 9 columns]>

In [5]:
data.describe()

,crossingID,reason,city,state,street,railroad,dateTime,duration,created
count,1871,1871,1811,1871,1871,1871,1871,1871,1871
unique,755,3,346,41,684,59,1600,8,1871
top,083068S,A stationary train,FORT COLLINS,IL,NORTH RD,BNSF,2020-01-20T18:00:00,16-30 minutes,2020-01-22T17:17:50.37
freq,55,1274,371,659,55,502,11,723,1

In [6]:
(pd.to_datetime(data.dateTime)).dt.to_period('D').value_counts()

2020-03-03    121
2020-01-20    108
2020-03-06     86
2020-01-21     81
2020-03-07     79
             ...
2020-02-15      3
2020-01-04      2
2020-01-12      2
2019-12-17      1
2019-12-15      1
Freq: D, Name: dateTime, Length: 86, dtype: int64

In [7]:
fc = data[data.city == "FORT COLLINS"]

In [8]:
fc.describe()

,crossingID,reason,city,state,street,railroad,dateTime,duration,created
count,371,371,371,371,371,371,371,371,371
unique,42,3,1,1,41,3,304,5,371
top,244626E,A moving train,FORT COLLINS,CO,PROSPECT ST,BNSF,2020-03-03T14:15:00,16-30 minutes,2020-03-05T21:06:36.7
freq,47,289,371,371,47,340,9,203,1

In [9]:
(pd.to_datetime(fc.dateTime)).dt.to_period('D').value_counts()

2020-03-03    68
2020-03-07    57
2020-02-26    34
2020-03-06    31
2020-03-04    29
2020-03-02    24
2020-02-25    20
2020-02-27    19
2020-03-05    14
2020-03-09    14
2020-02-22    12
2020-03-08     8
2020-02-29     7
2020-02-24     6
2020-03-10     5
2020-02-23     4
2020-02-28     3
2020-02-21     3
2020-02-01     3
2020-02-19     2
2020-01-30     2
2020-03-01     1
2020-02-20     1
2020-02-06     1
2020-02-05     1
2020-01-31     1
2020-01-21     1
Freq: D, Name: dateTime, dtype: int64